[Desktop Entry]
Version=1.0
Type=Application
Name=Desinstalar Counter Strike 2D
Comment=Desinstalador de Counter Strike 2D
Exec=gnome-terminal -- bash -c "cd \"$(dirname \"%f\")\" && sudo ./installers/uninstall.sh; exec bash"
Icon=utilities-terminal
Terminal=true
Categories=System;Settings;
StartupNotify=true