[Desktop Entry]
Version=1.0
Type=Application
Name=Instalar Counter Strike 2D
Comment=Instalador automático de Counter Strike 2D
Exec=gnome-terminal -- bash -c "cd \"$(dirname \"%f\")\" && sudo ./installers/install.sh; exec bash"
Icon=utilities-terminal
Terminal=true
Categories=System;Settings;
StartupNotify=true